.env
pnpm-lock.yaml
node_modules
views/index.html
views/assets
views/*.jpg
views/*.jpeg
views/*.png
views/*.svg
db/audio

svelte/node_modules
svelte/jsconfig.json
svelte/.gitignore
svelte/pnpm-lock.yaml
svelte/README.md
svelte/svelte.config.js
svelte/vite.config.js
svelte/.vscode
svelte/public
svelte/src/style/*.css
svelte/src/style/*.css.map