@use 'util' as *;

.dugscog {
    @include limitWidth(1000px, $center: false);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;

    list-style: none;
    padding: 0;
}

.dug-year {
    padding: .5rem;
}

.dug-year_dugs {
    list-style: none;
    padding-left: 0;
}

.dug-card {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: .5rem;
    align-items: center;

    & img {
        width: 100%;
        image-rendering: crisp-edges;
        border-radius: .5rem .25rem .5rem .25rem;
    }
}