@use 'util' as *;

header, #main-nav {
    @include limitWidth(var(--header-width), $center: false);
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;

    & img {
        width: 100%;
    }
}

#me {
    filter: invert(var(--invertFromLight));
}

#logo {
    filter: invert(var(--invertFromLight));
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        padding: 1rem;
        background-color: var(--bg);
    }

    @include media(500px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        & a {
            text-align: center;
        }
        
        & > *:last-child {
            grid-column: 1 / 5;
            justify-self: center;
            width: 100%;
            padding: 0 25%;


            & > button {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

#subtitle {
    position: relative;
    user-select: none;

    & > * {
        display: flex;
        justify-content: space-between;
        position: relative;

        @include media(500px) {
            display: none;
        }
    }

    & .content {
        width: 100%;
    }

    & .ghost{
        position: absolute;
        left: 0;
        width: 100%;
    }
}