@use 'util' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Syne";
    src: url('../../public/syne.ttf');
}

* {
    font-family: 'Syne', monospace;

    &:focus {
        outline: 1px dashed var(--dug);
    }
}

body {
    background-color: var(--bg);
    color: var(--text);
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--dug);
}

a:hover {
    text-decoration: underline;
    @include outlineText(var(--dug));
}

button, input {
    padding: .5rem;
    border: 0;
    border-radius: .5rem;
}

button {
    cursor: pointer;
    background-color: var(--med);
    border: 3px outset var(--med);
    color: var(--text);

    &:hover {
        filter: invert(1);
    }
    &:active {
        border: 3px inset var(--dug);
    }
}

ul {
    list-style: none;
    padding: 0;
}

.dug-card {
    display: block;
}

html, body, #app {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

header, main {
    padding: var(--body-padding);
}

main {
    flex-grow: 1;
    overflow-y: auto;
    @include limitWidth(var(--content-width));
    // @include limitWidth(var(--header-width));
}

.select {
    position: relative;
    & .head {
        display: flex;
        gap: .5rem;
        border-radius: .5rem .5rem 0 .5rem;
    }
    & .options {
        position: absolute;
        right: 0;
        z-index: 10;
        display: none;

        &.shown {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        & button {
            border-radius: 0;
        }
    }
}
