:root {
    --light: rgb(240, 240, 240);
    --rgb-light: 240, 240, 240;
    --lighter: white;
    --rgb-lighter: 255, 255, 255;
    --dark: rgb(22, 22, 22);
    --rgb-dark: 22, 22, 22;
    --med-light: rgb(160, 160, 160);
    --rgb-med-light: 160, 160, 160;
    --med-dark: rgb(79, 79, 79);
    --rgb-med-dark: 79, 79, 79;

    --body-padding: 0.5rem;
    --dug: #01bb7d;

    --header-width: 700px;
    --content-width: 1000px;
}

html.light {
    --bg: var(--light);
    --rgb-bg: var(--rgb-light);
    --rgb-text: var(--rgb-dark);
    --text: var(--dark);
    --invertFromLight: 1;
    --invertFromDark: 0;
    --med: var(--med-light);
    --rgb-med: var(--rgb-med-light);
}

html.dark {
    --bg: var(--dark);
    --text: var(--light);
    --rgb-text: var(--rgb-light);
    --rgb-bg: var(--rgb-dark);
    --invertFromLight: 0;
    --invertFromDark: 1;
    --med: var(--med-dark);
    --rgb-med: var(--rgb-med-dark);
}